@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Edu+VIC+WA+NT+Beginner:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Kalnia+Glaze:wght@100..700&family=Pacifico&display=swap');

body {
    font-family: Arial, sans-serif;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #f4f4f4;
    font-family: "DM Serif Text", serif;
    text-align: center;
    letter-spacing: 2px;

}
#app {
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    width: 420px;

}

/*Estilos para el formulario */
form {
    display: flex;
    justify-content: space-between;
}

/* Estilos al input */
input {
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #535050 ;
    border-radius: 3px;
    font-family: "Baskervville SC", serif;
    font-size: 20px;
}

/* Estilos a botones */
button {
   padding: 5px 20px; 
   font-size: 17px;
   position: relative;
   font-family: "Edu VIC WA NT Beginner", cursive;
   color: white;
   background-color: #5c0648;
   border: none;
   cursor: pointer;
   border-radius: 40px;
}

/*Estilos a boton Agregar*/
button {
    box-shadow: 0 0 0 0 rgba(145, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

button::after {
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-255deg, #231557 0%, #44107A 29%, #ff1361 67%, #fff800 100%);
    z-index: -1;
    transition: transform 0.5s ease;
}

button:hover {
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(16, 226, 253, 0.5), -10px 10px 25px 0 rgba(183, 0, 255, 0.7);
}

button:hover::after {
    transform: rotate(150deg);
}

/* Estilos para la lista */
ul {
    list-style: none;
    padding: 0;
}
li {
    background: linear-gradient(90deg, #cda3a8,#ffd6db,#dfa9b0);
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2a0410;
    font-family: "Baskervville SC", serif;
    letter-spacing: 2px;
}

/* Estilos para el elemento complentado de la lista */
li.completed {
    text-decoration: line-through;
    color: #1e5d71;
}